<ul class="flex menu bg-base-200 rounded-box">
  <li class="menu-title">
    <div class="flex items-center justify-between">
      <span>Categories</span>
      <button class="btn btn-sm btn-neutral">+</button>
    </div>
  </li>

  @for (category of [1]; track $index) {
  <li>
    <div class="flex items-center justify-between">
      <a href="">Coding</a>
      <button class="btn btn-xs btn-warning">!</button>
      <button class="btn btn-xs btn-error ms-1">-</button>
    </div>
  </li>
  }
</ul>

<app-category-form></app-category-form>
