<ul class="flex menu bg-base-200 rounded-box w-auto">
  <li class="menu-title">
    <div class="flex items-center justify-between">
      <span>Categories</span>
      <button (click)="categoryStore.add()" class="btn btn-sm btn-neutral">
        +
      </button>
    </div>
  </li>

  @for (category of categoryStore.categories(); track $index) {
  <li>
    <div class="flex items-center justify-between">
      <a href="">{{ category.name }}</a>
      <div>
        <button
          class="btn btn-xs btn-warning"
          (click)="categoryStore.edit(category)"
        >
          !
        </button>
        <button class="btn btn-xs btn-error ms-1">-</button>
      </div>
    </div>
  </li>
  }
</ul>

@if(categoryStore.isLoading()){
<li>Loading...</li>
} @if(categoryStore.isOpen()){
<app-category-form></app-category-form>
}
