<dialog id="my_modal_1" class="modal" [ngClass]="{ 'modal-open': isOpen }">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-2">Category</h3>

    <form [formGroup]="categoryForm" (ngSubmit)="submit()">
      <label class="form-control w-full my-5">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input
          formControlName="name"
          type="text"
          placeholder="Name"
          class="input input-bordered w-full mt-2"
        />

        @if(name?.invalid && (name?.dirty || name?.touched)) {
        <div class="mx-3">
          @if(name?.errors?.['required']) {
          <span class="label label-text-alt text-red-500"
            >Category Name is required !</span
          >
          } @if(name?.errors?.['minlength']) {
          <span class="label label-text-alt text-red-500"
            >Name should be more than 3 caracters !</span
          >
          }
        </div>
        }
      </label>

      <div class="modal-action">
        <button type="submit" class="btn btn-neutral">Submit</button>
        <button type="button" class="btn" (click)="categoryStore.init()">
          Close
        </button>
      </div>
    </form>
  </div>
</dialog>
